# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Binaries
*.exe
*.out
*.app

# Dependency directories
jspm_packages/
bower_components/

# Distribution / Build folders
dist/
build/

# Cache folders
.cache/
.npm/
.pnpm-store/
.yarn-cache/
.yarn/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Miscellaneous
*.bak
*.tmp
*.swp
*.swo
*.swm
*.swp
*.swo

# TypeScript
*.tsbuildinfo
